


.textoContrato{
  border: 1px solid #f1f1f1da;
  font-weight: 300;
  padding: 20px;
  position: relative;
  left: 10em;
}
.enlacesRegis2{
  text-decoration: underline !important;
}
.formRegist2{
  padding: 20px;
  margin-bottom: 140em;

}
.form-control{
  border-radius: 20px;
}
.botonRegis2{
  border:2px solid #f1f1f1;
  border-radius: 20px;
  color: #f1f1f1;
}
.privacyEnlace{
  text-decoration: underline !important;
}
.letraPeque{
  font-size: 0.6em;
}
.titloContrt{
  font-size: 1em;
}

@media (min-width: 320px) and (max-width: 1023px){
  .textoContrato{
    position: relative;
    bottom: 80em;
    left: 4em;

  }
  .Regis2sec{
    margin-bottom: -20em;
  }
  .formRegist2{

    margin-bottom: 80em;

  }


}


