
.textoContrato{
  border: 3px solid #f1f1f1;
  border-radius: 20px;
  padding: 20px;
}
.enlacesRegis2{
  text-decoration: underline !important;
}
.formRegist2{
  padding: 20px;
  margin-bottom: 80em;

}
.form-control{
  border-radius: 20px;
}
.botonRegis2{
  border:2px solid #f1f1f1;
  border-radius: 20px;
  color: #f1f1f1;
}


