<section class="footer">
  <div class="container-fluid">
      <div class="row">
          <div class="logos_redes col-md-12 my-3 col-lg-6">
              <div class="logoFooter mt-4">
                  <img src="../../../assets/img/logo_menu.svg" alt="menu logo">
              </div>
              <div class="redes mt-3">
                  <div class="allright">
                      <br>

                      @ 2019 - All rights reserved</div>
                   <!-- redes sociales
                  <ul>
                      <li class="matrs">
                          <a href="#" class="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                      </li>
                      <li class="matrs">
                          <a href="#" class="telegram"><i class="fab fa-telegram-plane"></i></a>
                      </li>
                      <li class="matrs">
                          <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                      </li>
                  </ul>
                    -->
              </div>
          </div>
          <div class="texto_footer col-lg-6 col-md-12 my-3">
              <ul class="my-1">
                  <li>
                      <a href="link" class="class_a_href"><strong>LEGAL</strong> </a>
                  </li>
                  <li>
                      <a href="pages/terms.html">Terms & Conditions</a>
                  </li>
                  <li>
                      <a href="pages/privacypolicy.html">Privacy Policy</a>
                  </li>
                  <li>
                      <a href="pages/cookies.html">Cookies</a>
                  </li>
                  <li>
                      <a href="pages/legalnotice.html">Legal Notice</a>
                  </li>
                  <li>
                      <a href="mailto:info@block-invest.io">Contact Us</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</section>
