<section class="login1sec">

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>




<div class="row">
  <div class="col-12 text-center imglogoLogin1">
      <img src="../../../assets/img/logo_menu.svg" alt="">
  </div>
</div>
<br>


<div class="row filalogin2 centrarflex text-center">

    <div class="col-5"></div>
    <div class="col-2 formLogin1">

      <div class="parraLogin1">
        <p class="text-center">Log in to Block Invest Token</p>
      </div>



      <form>
        <div class="form-group text-center">
          <label for="exampleInputEmail1"></label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email/username">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1"></label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="password">
        </div>
        <br>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">remember password</label> <br>

        </div>
        <br><br>

        <button type="submit" class="btn botonLogin1">&nbsp;&nbsp;login <i class="fas fa-caret-down"> </i>&nbsp;</button>
      </form>
      <br>
      <br>
      <div class="enlacesLogin1">

        <a href="mailto:info@block-invest.io">Forgot your password?</a>
      </div>

    </div>
    <div class="col-5"></div>

  </div>

</section>
