/* You can add global styles to this file, and also import other style files ESTILOS GENERALES DE LA WEB */

*{
  background-color: black;
  color: aliceblue;
  font-family: 'IBM Plex Mono', monospace;
}
