<section class="login1sec">

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

<div class="row">
  <div class="col-12 text-center imglogoLogin1">
      <img src="../../../assets/img/logo_menu.svg" alt="">
  </div>
</div>
<br>

<div class="row filalogin2 centrarflex text-center">

    <div class="col-4"></div>

    <div class="col-4 formLogin1">

      <div class="parraLogin1">
        <p class="text-center"> Agreement to Block Invest Token</p>
      </div>

  <div class="alert msjAdios" role="alert">
  <h4 class="alert-heading">Thank you!</h4>
  <p>
    You have already finished. In a few minutes you will receive an email with all the info and a PDF attached with the SAFT you have just signed.
    If you don't receive any email in 24h, please contact us.</p>
  <hr>
  <p class="mb-0">Hope to see you soon!</p>
</div>

  </div>

 <div class="col-4"></div>

</div>

</section>

