<section class="login1sec">

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

<div class="row">
  <div class="col-12 text-center imglogoLogin1">
      <img src="../../../assets/img/logo_menu.svg" alt="">
  </div>
</div>
<br>

<div class="row filalogin2 centrarflex text-center">

    <div class="col-5"></div>

    <div class="col-2 formLogin1">

      <div class="parraLogin1">
        <p class="text-center"> ... to Block Invest Token</p>
      </div>

  <div class="alert msjAdios" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
  <hr>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>

  </div>

 <div class="col-5"></div>

</div>

</section>

